# Laravel/PHP
/.env
/.env.*
.phpunit.result.cache
composer.lock
/vendor/

# Cache & build artifacts
/bootstrap/cache/*.php
/public/hot
/public/storage

# Storage runtime files
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/app/public/logos/
/storage/app/public/user_photos/

# Keep folder structure
!/storage/app/public/.gitignore
!/storage/app/public/logos/.gitignore
!/storage/app/public/user_photos/.gitignore

# IDE/Editor
/.vscode/
/.idea/
*.swp
*.swo

# Logs
*.log


# Misc
.DS_Store
Thumbs.db

# Local development / production ignore
/assign_guru_piket.php
/public/.user.ini
/public/js/
/resources/views/layouts/backup/
/database/absene.sql
/template/
