<IfModule mod_dir.c>
    DirectoryIndex index.html index.htm
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# Allow access to all files
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch ".*">
        Order allow,deny
        Allow from all
    </FilesMatch>
</IfModule>
